html,
body {
    background-color: gainsboro;
    font-family: Arial;
    margin:0px;


}
p, li {
    color: grey;
    padding: 5px;
}
div header {
    display:block;
    background-size: cover;
    background-color: #293c59;
    color: white;
    box-sizing: border-box;
    font-size: 15px;

}
header nav {
    margin-left: -43px;

}
header ul {
    width: 1000px;
    margin: 0 auto;

}
header ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: -28px;

}
header ul li a {
    display: block;
    margin-right: 13px;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
}

.box-red {
    /*display: inline-block;*/
    position: absolute;
    margin-left:20px;
    margin-top:-27px;

    background: red;
    width: 100px;
    height: 26px;

}
/*.box-red img {*/
    /*width: 109px;*/
    /*height: 30px;*/
/*}*/
.box-red span {
    /*position: absolute;*/
    color: white;
    margin-left: -15px;
    margin-top: -3px;
    font-size: 5px;
}
 .box-red ::after{
     content: '';
     position: absolute;
     border: 5px solid transparent;
     border-right: 5px solid red;
     border-bottom: 5px solid red;
     left: -20px;
     top:-7px;
 }
main {
    color: black;
    background-color: white;
    width: 1000px;

    padding: 20px 25px 0px 25px;
    margin: 46px auto 25px;
    list-style-type: none;
    border: 1px solid ghostwhite;
    position: relative;

}
.box-red {
    /*display: inline-block;*/
    position: absolute;
    left: 6px;
    top: 16px;

}
.box-red img {
    width: 109px;
    height: 30px;
}
.box-red span {
    display: block;
    position: absolute;
    left: 25px;
    top: 10px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 11px;
}
.box-red span:before {
    display: block;
    content: " ";
    background-color: red;
}

main div .top1 {
    margin:18px 5px -8px -5px;
    font-size: 14px;
    word-spacing: 0.5px;

}

main .fonts {
    font-size: 14px;
    padding: 2px 0px;
    margin-bottom: -10px;
    line-height: 22px;
}
main img {
    padding-top: -15px;
    width: 440px;
    height: 295px;
    max-width: 100%;
}
h1 {
    padding-top: 8px;
}
.h1s{
    word-spacing: -4px;
}
.level1 {
    font-size: 28px;
    margin: 25px -3px 0px -3px;
}
.level2 {
    font-size: 26px;
    margin: 10px 0px 0px -3px;
    word-spacing: 4.7px;
}
.level3 {
    font-size: 23px;
    margin: 5px 0px 0px -3px;
    word-spacing: 0.5px;
}
.level4 {
    font-size: 21px;
    margin: 5px 0px 0px -3px;
}
.level5 {
    font-size: 19px;
    margin: 3px 0px 0px -3px;
}
.level6 {
    font-size: 17px;
    margin: 7px 0px 20px -3px;
}
.ps {
    font-size: 22px;
    margin: 13px 0px 12px -3px;
    font-weight: bold;
}
.ps1 {
    font-size: 22px;
    margin: 28px 0px 15px -3px;
    font-weight: bold;
    word-spacing: 3px;
}
.img1 {
    width: 500px;
    height: 335px;
}
.img2 {
    margin-top: -7px;
}
.div-img2 {
    margin-bottom: -5px;
}
.img3 {
    margin-top: -15px;}

.tops {
    margin: -17px 0px 0px -3px;
    font-size: 14px;
    line-height: 22px;
}
.icons {
    font-size: 13px;
    margin-top:-13px;
    margin-bottom: 10px;

}
.icons img {
    width: 15px;
    height: 15px;
    padding-right: 9px;
}

main section {
    display: inline;
}
.squares {
    list-style-type: square;
    margin: -3px 28px 90px 29px;
    word-spacing: 2px;

}
.squares li {
    font-size: 13px;
    padding: 0px 0px 0px -25px;
    margin: 1px 0px -6px -3px;
}

section  img, div .avatar {
    float: left;
    padding-right: 10px;
    padding-top:10px;

}
.floats {
    font-size: 14px;
    padding-bottom: 105px;
    margin: -11px 0px 0px 15px;
    word-spacing: 2px;
    line-height: 22px;
}
.ols {
    margin-bottom: 29px;
}
.ols li{
    font-size: 14px;
    margin: -3px 0px 4px -14px;

}
.top2 {
    margin-top: 26px;
}
.tagss {
    font-size: 14px;
    margin: 0px 0px 22px -3px;
}

.comments {
    margin-top: -7px;
    margin-bottom: 75px;
    word-spacing: 3px;
}
.comments div {
    margin-top: 35px;


}
.comments img {
    margin: -3px 10px 7px 0px;
    width: 70px;
    height: 70px;

}
.comments p{
    list-style-type: none;
    padding: 1px;
    font-size: 14px;
    margin: 14px 0px -5px 25px;
    line-height: 20px;
}
.answer-comment1 img,
.answer2-comment1 img {
    margin-left: 130px;
    margin-top: 5px;
}
.comment2 img {
    margin: -5px 0px 0px 0px;
}
.comment2 p {
    margin: 10px 10px 46px 55px;
}
.answer-comment1-p {
    margin: 14px 0px 0px 5px;
}
.answer2-comment1 p {
    margin-bottom: 42px;
}
.an-answer-comment1 img{
    margin-left: 243px;
    margin-top: 5px;

}
.an-answer-comment1 p{
    margin-bottom: 40px;
}
.answer-comment1 {
    margin-bottom: -15px;
}
textarea {
    height: 140px;
    width: 955px;
    max-width: 100%;
    padding: 0px 20px;
    margin: 10px auto 16px auto;
    border: 1px solid lightgray;
}
form {
    color: grey;
    margin-top: 22px;
}

form input{
    width: 494px;
    max-width: 100%;
    height: 40px;
    padding: 4px 250px 1px 252px;
    margin: 10px auto 20px auto;
    border: 1px solid lightgray;
}
form input[type="submit"]{
    width: 174px;
    height: 45px;
    margin: 4px 0 25px 0;
    padding: 0px 0px 4px 4px;
    color: white;
    background-color: red;
    border: none;
    font-size: 16px;
}
.submit-red:hover {
    color: lightgray;
    background-color: crimson;
}
.submint-red:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
form label {
    font-size: 14px;
    top: 15px;
}

footer {
    background-color: #293c59;
    margin: 10px auto;
    padding-top: 6px;
}
footer nav {
    width: 1000px;
    margin: 0px auto;

}
footer div {
    display: inline-block;
    color: white;
    margin-right: auto;
    width: 25%;
    height:  100%;



}
 .recent {
    /*float:left;*/
    word-spacing: 3px;
     margin-left: -25px;
     line-height: 17px;

    margin-right: 110px;

}
footer .recent ul {
    margin-left: -10px;


}
footer .recent li{
    font-size: 13px;
    list-style-type:square;
    margin-left: -15px;

}

footer  .tags ul {
    display: block;
    /*float: top;*/
    width: 300px;
    padding: 10px;
    margin-right: 20px;

}
.tags li {
    list-style-type: none;
    display: inline-block;
    margin: 3px 5px 5px 3px;
    border-left: 2px solid red;
    background-color: white;
    padding-bottom: 4px;
}
.tagsH {
    margin-left: 10px;
    padding-top: 10px;
}
.textW {
    margin-left: 62px;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 15px;
    line-height: 18px;
    padding-top: 15px;
    word-spacing: 1px;
    float: right;
}


.copyright {
    padding: 20px 5px 20px 0px;
    font-size: 14px;
    margin-top: 35px;
    margin-left: -30px;
}

footer div ul li a {
    display: block;
    margin-left: -1px;
    padding: -10px 10px;
    color: black;
    text-decoration: none;
    width: auto;
}
.color-text {
    text-decoration: none;
    color: red;
    padding-right: 5px;
}
.color-text1 {
    text-decoration: none;
    color: red;
    padding: 5px;
}
